*
{
	font-family: sans-serif;
}

body
{
	font-size: small;
}

.searchbox
{
	width: 40%;
	height: 3%;

}
center > img
{
	/*width: 40%;*/
	margin: 13.5;
	padding: 20;
	padding-top: 109px;
	height: 92;
	width: 272;
}

button
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #333;*/
}

ul > li
{ 
	/*display: inline; */
	float: left;

}

ul li:nth-child(n+3)
{
	float: right;
}

ul > li > a
{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	/*background-color: #dddddd;*/
}

#signin
{
	display: inline-block;
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	line-height: 8px;
	border-radius: 2px;
}

#signin > a 
{
	color: #fff;
}